/chromium/
/transmission/
/gconf/
/libreoffice/
/pulse/
QtProject.conf
Trolltech.conf
gtk-2.0/
gtk-3.0/
/pcmanfm/
/ibus/bus/
/mpd/.mpd/
/mpd/log
pavucontrol.ini
screenkey.json
/gpicview/gpicview.conf
nvim/plugged/
/neomutt/aliases
/neomutt/certificates
/neomutt/sigderrick
/neomutt/siginfo
/neomutt/sigme
/neomutt/neomuttrc


